/* START Navigator */
.nav-header {
    position: fixed;
    top: 50px;
    left: 25%;
    width: 50%; 
    justify-content: center;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
    transition: top 0.3s ease;
    border-radius: 15px;
    background-image: url("../img/background_defintion.png");
    background-size: cover;
    background-position: center;
    border: 0.01cm solid #000; /* Border shorthand property */
}

.nav-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%; 
    
}

.nav-header li {
    margin-right: 50px;
}

.nav-header a {
    text-decoration: none;
    color: #fff;
    font-weight: Bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-header a:hover {
    color: #002B59;
}

html {
    scroll-behavior: smooth;
}

/* END Navigator */


/* Quote */

header {
    background-color: #002B59;
    color: #fff;
    padding: 5px;
    text-align: center; 
    
}


header h1 {
    font-size: 2em; 
    font-weight: normal;
    font: optional;
}

/* End Quote */


/* Body */
body, h1, h2, p {
    margin: 0;
    padding: 0;

}

body,html {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    box-sizing: border-box; /* Add box-sizing for consistency */
    
}




/*Defition part */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("../img/background_defintion.png");
    background-size: cover;
    background-position: center;
    z-index: 0 ;
}

.background-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: None;
    background-size: cover;
    background-position: center;
}

.definition-section {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 30%;
    box-sizing: border-box;
    background-color: #464D47;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    background-image: url("../img/background_defintion.png");
    background-size: cover;
    background-position: center;
}

.word-column,
.definition-column {
    z-index: 1;
}

.word-column {
    width: 50%;
    text-align: center;
    font-size: 2em;
}

.definition-column {
    width: 50%;
    text-align: left;
    font-size: 1.1em;

}

.pronunciation {
    font-style: italic;
}


/*End of Defition part */


section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.services-section {
    background-color: #8DA1B9; 
    padding: 40px 20px; 
    max-width: 100%;
}

.service-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
    max-width: 100%;
    color: #fff;
    text-decoration: underline; 
    font-size: 2em;
    text-align: left;
    margin-bottom: 10px;
    font-weight: normal;
}

.service-component {
    display: flex;
    align-items: center;
    width: 48%;
    margin-bottom: 20px;
    position: relative;
}

.image-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.example-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
    transform: scale(1.1);
}

.image-container:hover .example-link {
    transform: translateY(0);
}

.service-details {
    flex-grow: 1;
    padding: 0 20px;
}

h3, p {
    margin: 0;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}



.about-me-section {
    background-color: #002B59;
    color: #fff;
    text-align: left;
    padding: 40px 20px; 
    max-width: 100%;
}

.about-me-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.about-me-content img {
    max-width: 20%; 
    margin-right: 20px;
    border-radius: 15px;

    
}

.text-content {
    flex: 1;
    max-width: 70%; 
}

.about-me-content p {
    color: #fff;
    background-color: #002B59;
    padding: 20px;
    margin: 0; 
}

.about-me-section h3 {
    text-decoration: underline; 
    font-size: 2em;
    text-align: left;
    margin-bottom: 10px;
    font-weight: normal;
}

.contact-section {
    background-color: #8DA1B9;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    padding: 40px 20px; 
    max-width: 100%;
}

.cta-text {
    color: #fff;
    margin-bottom: 20px;
}

.contact-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.contact-section h3 {
    text-decoration: underline; 
    font-size: 2em;
    text-align: left;
    margin-bottom: 10px;
    font-weight: normal;

    
}

.contact-item {
    margin: 10px;
    text-align: center;
}

.contact-item a {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item img {
    max-width: 50px;
    margin-bottom: 10px;
}

.contact-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}








.paragraph-section {
    display: flex;
    background-color: #333;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.paragraph {
    width: 60%;
    text-align: center;
}

.image-container {
    width: 30%;
}

h2, p, a {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}



footer {
    background-color: #B87333;
    color: #fff;
    text-align: center;
    padding: 4px;
    position: end;
    bottom: 0;
    width: 100%;
}


