/* Reset some default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;


}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}
.services-section {
    background-color: rgb(69, 83, 56); /* Set the background color for the Services section */
    padding: 40px 20px; /* Add padding for better spacing */
    max-width: 100%;

}

.service-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.section-title {
    border-bottom: 2px solid var(--primary-color); /* Add an underline with the primary color */
    padding-bottom: 10px;
    max-width: 100%;
    font-size: 2em;
    text-align: left;
}

.service-component {
    display: flex;
    flex-direction: column;
    width: 48%; /* Set the width for each service component */
}

.image-container {
    max-width: 20%;
    margin-bottom: 10px;
    margin-right: 20px; /* Adjust margin to create space between image and text */

}

.service-details {
    text-align: center;
}

.about-me-section {
    background-color: #0c1927;
    color: #fff; 
    text-align: left;
    max-width: 100%;

}

.about-me-content {
    display: flex;
    align-items: left;
    justify-content: left;
    max-width: 100%;
    margin: 15 auto;
}

.about-me-content img {
    max-width: 20%;
    border-radius: 50%; 
    margin-right: 20px;
}

.text-content {
    flex: 1; 
}

.about-me-content p {
    color: #fff; 
    background-color: #0c1927;
    padding: 20px; 
}

.about-me-section h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    max-width: 100%;
    font-size: 2em;
    text-align: left;
    margin: 15 auto;


}


.nav-header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    max-width: 1200px;
    background-color: #010000;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
}

.nav-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-header li {
    margin-right: 20px;
}

.nav-header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-header a:hover {
    color: #ddd;
}

body {
    padding-top: 60px;
}



.two-columns {
    display: flex;
    justify-content: space-around;
}

.column {
    width: 100%;
    padding: 20px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.action-button {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #333;
    color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: rgb(17, 145, 143);
}



.paragraph-section {
    display: flex;
    background-color: #333;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.paragraph {
    width: 60%;
    text-align: center;
}

.image-container {
    width: 30%;
}

h2, p, a {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}


.definition-section {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff; 
    padding: 20px; 
    box-sizing: border-box; 
}



.definition-section {
    position: relative;
    color: #fff;
    padding: 40px;
    height: 800px;
    background-position: center;
    background-color: #333; 
    box-sizing: border-box;  
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/placeholder.png"); 
    background-size: cover;
    background-position: center;
}

.word-column,
.definition-column {
    position: relative;
    z-index: 1; 
}

.word-column {
    width: 30%; 
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size: 1.5em;

}

.definition-column {
    width: 70%;
    padding: 20px;
    margin: 10px;
    text-align: left;
}

.pronunciation {
    font-style: italic;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


